/* Global Styles */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

/* Debug width display */
.width-container {
  display: none;
}
.display-width {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #E6E6E6;
  padding: 0.3em;
  font-size: 0.85em;
}

/* Body */
body {
  background: #303A52;
  color: white;
  height: 100vh;
  padding: 0.5em;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
header svg {
  width: 1.5em;
  cursor: pointer;
}
a.logo {
  font-weight: bold;
  margin: 0 1em;
}
a.cta-btn {
  margin-left: auto;
  background: #FC85AE;
  padding: 1em;
  display: inline-block;
  border-radius: 2em;
  font-size: 0.6em;
  color: #303A52;
  font-weight: bold;
}

/* Navigation Menu */
nav {
  position: fixed;
  background: #576483;
  height: 100vh;
  width: 80%;
  left: 0;
  top: 0;
  visibility: hidden;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center;
  z-index: 100;
}
nav.open-nav {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
nav .inner-wrapper {
  padding: 1em;
}
nav svg {
  width: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li a {
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}
nav ul li.selected a {
  background: #9E579D;
}

/* Main Section */
main {
  padding: 1.5em;
}

/* Panel */
.panel {
  background: #39445F;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}
.panel ul.data li {
  margin: 0.3em 0 1em;
}
.panel ul.data li:last-child p {
  margin-bottom: 0;
}

/* Responsive Layout for Larger Screens */
@media (min-width: 850px) {
  body {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    padding: 0;
  }
  nav {
    grid-area: sidebar;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    width: 100%;
    position: relative;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  a.logo {
    margin: 0;
  }
  header svg, nav svg {
    display: none;
  }
}
